$orange: #da594c;
$gray: #393939;
$darkgray: #3e3e3e;
$white: #FFFFFF;
$light: #F9F9F9;

@import "compass/css3";

@font-face {
    font-family: "Edmond Sans Bold";
    src: url('fonts/Edmondsans-Bold.otf') format('opentype'); }

@font-face {
    font-family: "Edmond Sans Medium";
    src: url('fonts/Edmondsans-Medium.otf') format('opentype'); }

@font-face {
    font-family: "Edmond Sans Regular";
    src: url('fonts/Edmondsans-Regular.otf') format('opentype'); }

@font-face {
    font-family: "Cubano Regular";
    src: url('fonts/Cubano-Regular.otf') format('opentype'); }



.centered {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.text-center {
    text-align: center;
}

.centered-full {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.bordered {
    border: 2px solid #FFFFFF;
    text-align: center;
    @include border-radius(4px, 4px);
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.orange {
    background-color: $orange;
    color: #FFFFFF;
}

.black {
    background-color: $darkgray;
    color: #FFFFFF
}

.white {
    background-color: #FFFFFF;
    color: #000000;
}

h2 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    margin: 0 auto;
    font-weight: normal;
    clear: both;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    margin: 0 auto;
    font-weight: normal;
    clear: both;
    text-align: center;
}


p {
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: $light;
    color: $gray;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

div#navbar {
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 100;
    top: 30px;

    div {
        width: 800px;
        margin: 0 auto;
        padding: 0;
    }

    ul {
        height: 100%;
        list-style-type: none;
        float: left;
        clear: both;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        li {
            float: left;
            text-align: center;

            a {
                font-size: 16px;
                color: #FFFFFF;
                text-decoration: none;
                height: 100px;
                margin-left: 30px;
                line-height: 105px;
                float: left;
                @include transition(all 0.2s linear);
            }
            &:hover {
                a {
                    color: $orange;
                }
            }
        }
    }
}

.section-footer {
    position: relative;
    top: 380px;
}

.split.vertical {
    width: 100%;

    .left {
        width: 50%;
        float: left;
        display: inline-block;
    }

    .right {
        width: 50%;
        float: right;
        display: inline-block;

    }
}

@mixin icon-divider {
    width: 100%;
    height: 40px;

    img {
        display: block;
        margin: 0 auto;
    }

    .line {
        width: 34%;

        border-top: 1px solid $orange;
        position: relative;
        display: inline;
        top: 22px;

        &.left {
            float: left;
            margin-left: 12%;
        }

        &.right {
            float: right;
            margin-right: 12%;
        }
    }
}

div#top {
    position: relative;
    height: 400px;
    width: 100%;
    padding-top: 270px;
    background: url("/img/header-bkgd.jpg") top left repeat-x;

    h2, h4, p {
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
    }

    h2 {
        font-size: 34px;
        letter-spacing: 3px;
        font-weight: 300;
    }

    h4 {
        width: 100%;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        font-style: italic;
        padding: 0;
        margin: 0;
        margin-top: 30px;
    }

    #getstarted {
        color: $orange;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        width: 200px;
        margin: 30px auto;
        border: 2px solid $orange;
        text-align: center;
        @include border-radius(4px, 4px);
    }

    .section-footer {
        position: relative;
        font-weight: 300;
        font-style: italic;
        font-size: 14px;
        top: 120px;
    }
}

div#who_we_are {
    position: relative;
    width: 100%;
    margin-top: 35px;

    #ruby-divider {
        @include icon-divider;
    }

    p {
        padding: 0 70px;
        line-height: 30px;
        margin: 40px auto 0 auto;
        width: 50%;
        text-align: center;
    }

    #started-sidebar {
        // TODO: Box shadow
        @include rotate(-90deg);
        @include border-top-right-radius(3px);
        @include border-top-left-radius(3px);
        display: inline-block;
        padding: 5px 10px;
        position: absolute;
        right: -55px;
        top: 110px;
    }

    ul {
        width: 100%;
        float: left;
        clear: both;
        padding: 0;
        list-style-type: none;
        margin-bottom: 0;

        li {
            float: left;
            width: 50%;
            margin: 0;
            padding-top: 40px;
            padding-bottom: 40px;
            line-height: 26px;
            text-align: center;

            &.left * {
                margin-left: 100px;
            }

            &.right * {
                margin-right: 100px;
            }

            &.right h2, &.left h2 {
                margin-left: 0;
            }

            p {
                line-height: 30px;
                margin: 20px 0 0 0;
                font-size: 16px;
            }
        }
    }

    .bordered {
        margin: 0 auto;
        margin-top: 30px;
    }
}

div#team {
    display: inline-block;
    width: 100%;
    text-align: center;

    h4 {
        margin-top: 50px;
        margin-bottom: 0;
    }

    h5 {
        margin-top: 0px;
        font-style: italic;
        font-size: 15px;
        font-weight: 400;
    }

    .split.vertical {
        width: 622px;
        margin: 0 auto;
        height: 500px;

        div {
            padding: 20px 0;
            width: 306px;
            height: 305px;
        }

        div.right {
            padding-top: 0;
            height: 325px;

            h3 {
                padding-top: 20px;
            }

            h4 {
                margin-top: 0px;
            }
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 300;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            width: 80%;
            margin: 0 auto;
        }

        h3 {
            font-size: 24px;
            font-weight: 500;
        }

        h4 {
            font-size: 15px;
            font-style: italic;
            font-weight: 300;
        }
    }
}


div#blog {
    margin-top: 20px;

    h3 {
        font-size: 26px;
    }
    h4 {
        text-align: center;
        font-weight: 300;
        font-style: italic;
    }

    #quill-divider {
        @include icon-divider;
    }

    #posts {
        margin: 0 auto 30px auto;
        width: 75%;
        /* padding: 0 40px; */
        .post {
            width: 29%;
            padding: 0 20px;
            display: inline-block;

            .title {
                color: $orange;
                margin-bottom: 15px;
            }

            .lede {
                font-size: 16px;
                line-height: 20px;
            }

            .link {
                margin-top: 20px;

                a {
                    font-size: 18px;
                    text-decoration: none;
                    color: #000000;
                    border-bottom: 2px solid $orange;
                }
            }
        }
    }
}



div#careers {
    display: inline-block;
    color: #FFFFFF;
    padding: 30px 0;
    background: url("/img/checkered-bkgd.jpg") center no-repeat;

    div.split.vertical {
        div.left {
            p {
                margin-right: 40px;
                float: right;
                font-size: 14px;
                width: 50%;
                padding-bottom: 20px;
                line-height: 24px;
                text-align: center;
            }
        }

        div.right {
            p {
                font-size: 16px;
                margin-bottom: 25px;
                margin-left: 22px;
            }

            ul {
                font-size: 15px;
                li {
                    margin-bottom: 8px;
                }
            }
        }
    }

    #join-the-team {
        margin-top: 35px;
        margin-left: 22px;
        font-size: 22px;
        padding: 5px 25px;
    }
}

div#have_a_project {
    clear: both;
    background: url("/img/contact-bkgd.jpg") top left repeat-x;
    padding-bottom: 25px;

    h3 {
        padding-top: 20px;
        font-size: 22px;
        font-weight: 500;
    }

    h4 {
        margin-top: 0;
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        text-align: center;
    }

    p {
        float: left;
        clear: both;
    }

    form {
        width: 40%;
        margin: 0 auto;

        input, textarea {
            clear: both;
            border: 0;
            @include border-radius(2px);
            width: 98%;
            font-size: 22px;
            line-height: 30px;

            padding: 5px;
            margin: 0 0 20px 0;

            &.deadline, &.budget {
                width: 45%;
            }

            &.budget {
                float: right;
            }

            &[type='submit'] {
                display: block;
                width: 38%;
                text-align: center;
                color: white;
                background-color: $gray;
                height: 45px;
                line-height: 35px;
                font-weight: normal;
                @include border-radius(3px);
                padding: 5px;
                text-transform: uppercase;
                font-size:  20px;

                margin: 30px auto 0 auto;
            }
            &:invalid {
                @include box-shadow(darken(red, 10) 0px 0px 5px);
            }
            &.error {
                @include box-shadow(darken(red, 10) 0px 0px 5px);
            }
            &.valid {
                @include box-shadow(darken(green, 10) 0px 0px 5px);
            }
        }
        textarea {
            height: 210px;
        }
        span.required {
            color: $orange;
        }
        div.explanation {
            position: absolute;
            text-align: right;
            bottom: 3px;
            right: 0;
            font-size: 14px;
        }
    }
}

div#contact {
    position: relative;
    background: url("/img/contact_us.jpg") top left repeat-x;
    height: 512px;
    width: 100%;
    clear: both;

    h2 {
        color: white;
        width: 100%;
        clear: both;
    }
    .column {
        float: left;
        width: 50%;
        margin: 0;

        .method {
            float: left;
            clear: both;
            width: 100%;
            margin: 60px 0 0 140px;
            position: relative;

            img {
                position: absolute;

                &#pin {
                    left: -48px;
                    top: 22px;
                }
                &#twitter {
                    left: -54px;
                    top: 13px;
                }
                &#mail {
                    left: -54px;
                    top: 18px;
                }
                &#github {
                    left: -54px;
                    top: 15px;
                }
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

div#our_experience {
    position: relative;
    background-color: white;
    width: 100%;
    clear: both;
    float: left;
    padding: 0 0 60px 0;

    .background {
        background: url("/img/experience-bkgd.jpg") center no-repeat;
        height: 500px;

        h4 {
            padding-top: 120px;
        }

        h5 {
            font-style: italic;
            font-weight: 400;
        }

        p {
            padding-top: 60px;
            width: 60%;
            margin: 0 auto;
            font-size: 16px;
            line-height: 32px;
        }
    }

    h2 {
        color: black;
        width: 100%;
        clear: both;
        margin-bottom: 0;
    }

    h4, h5 {
        margin: 0 auto;
        text-align: center;
    }

    ul {
        width: 940px;
        float: left;
        clear: both;
        margin: 25px 0 90px 0;
        padding: 0;
        list-style-type: none;
        background-color: $light;
        position: relative;
        @include border-radius(5px);

        img {
            position: absolute;
            left: 38px;
            top: -30px;
        }
        li {
            float: left;
            width: 780px;
            padding: 10px 0 0 90px;
            line-height: 30px;
            margin: 40px 0;

            p {
                margin: 0;
            }
            h4 {
                margin: 20px 0 0 0;

                span {
                    font-weight: normal;
                    font-size: 16px;
                    margin: 5px 0 0 30px;
                }
            }
        }
    }

    .title-area {
        h4 {
            padding-top: 60px;
        }

        h5 {
            font-style: italic;
            font-weight: 400;
        }
    }


    $boxsize: 70px;
    #tools {
        margin-top: 40px;
        text-align: center;
        @include opacity(0.5);

        .box {
            width: $boxsize;
            height: $boxsize;
            margin-right: $boxsize/2;
            img {
                width: $boxsize;
                height: $boxsize;
            }
        }
    }
}

div#clients {
    height: 575px;
    width: 100%;
    display: inline-block;

    #rolodex {
        width: 35%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        .card {
            text-align: center;
            color: $gray;
            background-color: $white;
            .card-interior {
                padding: 20px;
                .logo {
                    margin-bottom: 20px;
                    width: 110px;
                    height: auto;
                    display: inline;
                }
                .description {
                    color: $orange;
                    font-style: italic;
                }
                .title {
                    margin-top: 20px;
                }
            }
        }
    }
    h5 {
        text-align: center;
    }
}

footer {
    clear: both;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    background-color: $gray;
    color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;

    .centered {
        width: 75%;
    }

    .left {
        float: left;
        text-transform: uppercase;
    }

    .divider {
        border-top: 2px solid #58595b;
        width: 100%;
        margin-top: 20px;
    }

    .right {
        float: right;
        a {
            text-decoration: none;
            color: $orange;
            margin-right: 35px;
            margin-left: 10px;
        }
    }

    .bottom {
        color: #929497;
    }
}

.tipsy {
    font-size: 16px;
    position: absolute;
    padding: 10px;
    z-index: 50;
    font-family: "Edmond Sans Regular";
}
.tipsy-inner {
    background-color: #fefefd;
    color: $gray;
    max-width: 330px;
    padding: 10px;
    text-align: left;
}

/* Rounded corners */
.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Uncomment for shadow */
.tipsy-inner {
    @include box-shadow(lighten(black, 80) 0 2px 5px) }

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 10px dashed #000;
}

/* Rules to colour arrows */
.tipsy-arrow-n {
    border-bottom-color: #fefefd;
}
.tipsy-arrow-s {
    border-top-color: #fefefd;
}
.tipsy-arrow-e {
    border-left-color: #fefefd;
}
.tipsy-arrow-w {
    border-right-color: #fefefd;
}

.tipsy-n .tipsy-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 15px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 15px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
