<div id='top' class='centered'>
  <div class='title'>
    <%= tag(:img, src: '/img/rails.png', width: '80', class: 'rails' ) %>
    <h2>We're a team of Ruby on Rails<br/>developers and devops experts</h2>
  </div>

  <h4>We're Symonds &amp; Son</h4>

  <a class="linkable_div" href="/#have_a_project">
    <div class="contact_button" id="getstarted">Contact Us</div>
  </a>

  <p class="section-footer">A tradition of excellence, dependability, and stability in developing applications &amp; managing systems.</p>
</div>

<div id='who_we_are'>
  <div class='centered'>
    <div id="ruby-divider">
      <span class="line left"></span>
      <span class="line right"></span>
      <%= tag(:img, src: '/img/gem.png') %>
    </div>

    <h3>Web Crafters &amp; Application Artisans</h3>
    <p class="text-center">Symonds &amp; Son is a Rails development shop. We create and scale amazing web applications: whether you're looking to create a web app, or simply take your existing product from serving thousands of customers to millions, we will tailor our solutions meticulously to your specifications. We work with you to visualize, produce, and scale your application, becoming your partners in development and business.</p>
    <ul id="devops" class="split vertical">
      <li class="left black text-center">
        <h4>Development</h4>
        <p>At Symonds &amp; Son, we pride ourselves on our incredible developers and the many years of experience they've had creating the most complicated Rails applications on the Internet. We provide expert-level guidance and programming, creating Rails applications from scratch and improving existing ones to be more efficient, more user-friendly, and more tested.</p>
        <a class="linkable_div" href="/#have_a_project">
          <div class="contact_button bordered uppercase">Hire us</div>
        </a>
      </li>
      <li class="right orange">
        <h4>Operations</h4>
        <p>From one server, to thirty, then to a hundred: you need a partner intimately familiar with managing and administering a Rails application and the software surrounding it. Whatever the database, cache, log management or search software you're running, Symonds &amp; Son provides the expertise to scale your application from where you are to where you want to be.</p>
        <a class="linkable_div" href="/#have_a_project">
          <div class="contact_button bordered uppercase">
            Start a project
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
