<div id='top' class='centered'>
  <%= tag :img, src: '/img/big_logo.png', width: '153', height: '152', id: 'big_logo', alt: 'Symonds & Son' %>
  <h3>Thanks!</h3>
  <p style='text-align: center; width: 100%;'>We'll get back to you as soon as possible.</p>
</div>